<!--
          <li
              {% if 'about' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">Desafio</a>
-->







            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>

<!--
            <a class="nav-link" href="login.html">

            <a class="nav-link" href="{% url 'admin' %}">
              <i class="fas fa-sign-in-alt"></i>
              Admin</a>
-->


            <a href="{% url 'admin:index' %}">link to admin panel</a>
