<!--

          <li
              {% if 'menu' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'menus' %}">Menus</a>
          </li>


          <li
              {% if 'item' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'items' %}">Platos</a>


          <li
              {% if 'famil' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'families' %}">Familias</a>
          </li>
-->



<!-- Employees -->

<!--
          <li
              {% if 'waiter' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'waiters' %}">Mozos</a>

          <li
              {% if 'cook' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'cooks' %}">Cocineros</a>


          <li
              {% if 'table' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'tables' %}">Mesas</a>

          <li
              {% if 'line' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'lines' %}">Líneas</a>
          </li>

          <li
              {% if 'all' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'employees_all' %}">Empleados</a>


          <li
              {% if 'order' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'orders' %}">Pedidos</a>

          <li
              {% if 'sales' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'order_sales' %}">Ventas</a>
-->







<!--
          <li
              {% if 'about' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">Desafio</a>
--><style>
  
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>








            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>

<!--
            <a class="nav-link" href="login.html">

            <a class="nav-link" href="{% url 'admin' %}">
              <i class="fas fa-sign-in-alt"></i>
              Admin</a>
-->


            <a href="{% url 'admin:index' %}">link to admin panel</a>
