{% extends "menus/base.html" %}

{% block content %}

<!-- Go Home -->
{% include 'partials/_gohome.html' %}


<h2>Eliminar el Menú ?</h2>
<br>
<h4>{{ menu.name }}</h4>
<br>
<br>


<div class="container">
<form action="{% url 'delete_menu' menu.id %}" method="post">
    {% csrf_token %}

	{{ form.as_p }}

    <td><input type="submit" value="Si"></td>
</form>
<br>


<form action="{% url 'thanks_menu' %}" method="post">
    {% csrf_token %}

	{{ form.as_p }}

    <td><input type="submit" value="No"></td>
</form>
</div>
<br>

{% endblock %}