<br>
<a href="{% url 'add_item_all' menu.id %}">Agregar plato</a>






<div class="container_">
{% for item in menu.dishes.all %}
<ul>
	<li>
		<h5>{{item}}</h5>
	</li>
</ul>
{% endfor %}
</div>
<br>













{% if menu.entries.all %}
<h3>Entradas</h3>

{% for item in menu.entries.all %}

	{{item}}

{% endfor %}
{% endif %}
<br>
<br>




{% if menu.main_courses.all %}

<h2>Platos Principales</h2>

{% for item in menu.main_courses.all %}

	{{item}}

{% endfor %}
{% endif %}
<br>
<br>



{% if menu.desserts.all %}
<h2>Postres</h2>

{% for item in menu.desserts.all %}

	{{item}}

{% endfor %}
{% endif %}
<br>



{% if menu.drinks.all %}
<h2>Bebidas</h2>

{% for item in menu.drinks.all %}

	{{item}}

{% endfor %}
{% endif %}
<br>



{% if menu.hot_drinks.all %}
<h2>Bebidas Calientes</h2>

{% for item in menu.hot_drinks.all %}

	{{item}}
{% endif %}

{% endfor %}






{% if not menu.entries_empty %}
{% if not menu.desserts_empty %}
{% if not menu.main_courses_empty %}
{% if not menu.drinks_empty %}
{% if not menu.hot_drinks_empty %}
