{% extends 'menus/base.html' %}

{% block content %}


<!-- Title and Create -->
<div class="row">

	<div class="col-sm-4">
		<h2>Menus</h2>
	</div>

	<div class="col-sm-4">
		<a href="{% url 'add_menu' %}">Crear</a>
	</div>

	<div class="col-sm-4">
	</div>
</div>
<br>


<!-- Conditional -->
{% if latest_menu_list %}

<div class="container">

<ul class="list-group">


<!-- Loop -->
	{% for menu in latest_menu_list %}

	<li class="list-group-item">

		<!-- Row -->
		<div class="row">
			<div class="col-sm-8">
				<a href='{% url "menu" menu.id %}'>
					<h5>{{menu.name}}</h5>
				</a>
			</div>

			<div class="col-sm-2">
				<a href="{% url 'update_menu' menu.id %}">
					Modificar
				</a>
			</div>

			<div class="col-sm-2">
				<a href="{% url 'delete_menu' menu.id %}">
					Eliminar
				</a>
			</div>
		</div>
		
	</li>

	{% endfor %}
</ul>


<!-- Error -->
{% else %}
	<p>
		{{err_msg}}		
	</p>
{% endif %}

</div>

{% endblock %}