{% extends 'menus/base.html' %}

{% block content %}


<h2>Menus</h2>
<br>
<a href="{% url 'add' %}">Crear Menú</a>
<br>
<br>

{% if latest_menu_list %}

<div class="container">

	<ul>
	{% for menu in latest_menu_list %}

		<li>
			<a href='{% url "menu" menu.id %}'>

				<h5>{{menu.name}}</h5>

				<a href="{% url 'delete_menu' menu.id %}">Eliminar</a>
		
			</a>
		</li>

		<br>
	{% endfor %}
	</ul>



{% else %}
	<p>
		You haven't uploaded any menu yet.
	</p>
{% endif %}
</div>

<!--
<br>
<a href="{% url 'add' %}">Crear Menú</a>
<br>
<br>
-->
{% endblock %}