{% extends "menus/base.html" %}

{% block content %}

<!-- Go Families -->
{% include 'partials/_gofamilies.html' %}


<h2>Eliminar Familia ?</h2>
<br>
<h4>{{ family.name }}</h4>
<br>
<br>


<div class="container">
<form action="{% url 'delete_family' family.id %}" method="post">
    {% csrf_token %}
	{{ form.as_p }}
    <td><input type="submit" value="Si"></td>
</form>
<br>

<form action="{% url 'thanks_family' %}" method="post">
    {% csrf_token %}
	{{ form.as_p }}
    <td><input type="submit" value="No"></td>
</form>
</div>
<br>

{% endblock %}