{% extends 'menus/base.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-4">
		<h2>Familias</h2>
	</div>
	<div class="col-sm-4">
		<a href="{% url 'add' %}">Crear Famlia</a>
	</div>
	<div class="col-sm-4">
	</div>
</div>


<br>
{% if families %}

<div class="container">
	

<ul class="list-group">

	{% for family in families %}

	<li class="list-group-item">

		<div class="row">
			<div class="col-sm-4">
			<a href='{% url "family" family.id %}'>
				<h5>{{family.name}}</h5>
			</a>
			</div>

			<div class="col-sm-4">
				<a href="{% url 'update' family.id %}">Modificar</a>
			</div>

			<div class="col-sm-4">
				<a href="{% url 'delete' family.id %}">Eliminar</a>
			</div>
		</div>
			
	</li>

	{% endfor %}
	</ul>



{% else %}
	<p>
		Todavía no ha creado ninguna Familia.
	</p>
{% endif %}

</div>

{% endblock %}