{% extends "menus/base.html" %}

{% block content %}

<!-- Go -->
{% include 'partials/_goback.html' %}

<h2>Eliminar Línea</h2>
<br>
<h4>{{ obj.name }}</h4>
<br>
<br>


<div class="container">
<form action="{% url 'delete_line' obj.id %}" method="post">
    {% csrf_token %}
	{{ form.as_p }}
    <td><input type="submit" value="Si"></td>
</form>
<br>

<form action="{% url 'thanks_line' %}" method="post">
    {% csrf_token %}
	{{ form.as_p }}
    <td><input type="submit" value="No"></td>
</form>
</div>
<br>

{% endblock %}