{% extends 'menus/base.html' %}

{% block content %}


<!-- Title and Create -->
<div class="row">

	<div class="col-sm-4">
		<h2>Empleado</h2>
	</div>
	
	<div class="col-sm-4">
		<a href="{% url 'add_employee' %}">Crear</a>
	</div>

	<div class="col-sm-4">
	</div>
</div>
<br>


<!-- Conditional -->
{% if objs %}

<div class="container">

<ul class="list-group">


<!-- Loop -->
{% for obj in objs %}

	<li class="list-group-item">

		
		<!-- Row -->
		<div class="row">
			<div class="col-sm-4">
				<a href='{% url "employee" obj.id %}'>
					<h5>{{obj.name}}</h5>
				</a>
			</div>

			<div class="col-sm-4">
				<a href="{% url 'update_employee' obj.id %}">
					Modificar
				</a>
			</div>

			<div class="col-sm-4">
				<a href="{% url 'delete_employee' obj.id %}">
					Eliminar
				</a>
			</div>
		</div>
	</li>

{% endfor %}
</ul>


<!-- Error -->
{% else %}
	<p>
		{{err_msg}}		
	</p>

{% endif %}

</div>

{% endblock %}

