{% extends 'menus/base.html' %}

{% block content %}

<!-- Go -->
{% include 'partials/_gostyle.html' %}


<h3>
	{{title}}
</h3>
<br>



<!-- Conditional -->
{% if obj %}

<div class="container">
<h4>	
	{{obj}}
</h4>
<br>

	<!-- Header -->
	<ul class="list-group">
		<li class="list-group-item">
		
			<!-- Row -->
			<div class="row jx-header">
		
				<div class="col-sm-4">
					Fecha y Hora
				</div>

				<div class="col-sm-2">
					Mesa
				</div>

				<div class="col-sm-2">
					Estado
				</div>
<!--
				<div class="col-sm-2">
					Resumen
				</div>
-->	
				<div class="col-sm-3">
					Total
				</div>
			</div>
		</li>
	</ul>
	
	<ul class="list-group">

		<!-- Loop -->
		{% for order in orders %}

		<li class="list-group-item">
		
			<!-- Row -->
			<div class="row">

				<div class="col-sm-4">
					<a href='{% url "order" order.id %}'>
						<h6>{{order.name}}</h6>
					</a>
				</div>

				<div class="col-sm-2">
						{{order.table}}
				</div>

				<div class="col-sm-2">
						{{order.state}}
				</div>
<!--
				<div class="col-sm-2">
						{{order.get_lines}}
				</div>
-->
				<div class="col-sm-2">
						{{order.total}}
				</div>
			</div>

		
		</li>
		{% endfor %}
	</ul>
</div>

<!-- Error -->
{% else %}
	<p>
		{{err_msg}}		
	</p>
{% endif %}



{% endblock %}