{% extends 'menus/base.html' %}

{% block content %}





<!-- Title -->
<div class="row">
	<div class="col-sm-4">
		<h2>{{title}}</h2>
	</div>
	
	<div class="col-sm-8">
	</div>
</div>
<br>


<div class="container">

<ul class="list-group">


	<!-- Create orders -->
	<li class="list-group-item">
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<a href="{% url 'create_orders' %}">

					Crear Pedidos para Hoy

				</a>
			</div>
		</div>
	</li>


	<!-- Clean orders -->
	<li class="list-group-item">
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<a href="{% url 'clean_orders' %}">
					
					Eliminar Pedidos de Hoy

				</a>
			</div>
		</div>
	</li>
</ul>
</div>


{% endblock %}

