{% extends "menus/base.html" %}

{% block content %}

<!-- Go -->
{% include 'partials/_goorders.html' %}


<h2>{{title}}</h2>
<br>


<form action="{% url 'update_order' obj.id %}" method="post">
    {% csrf_token %}

	{{ form.as_p }}

    <input type="submit" value="Submit">
</form>
<br>


<h5>Líneas</h5>

<ul>
{% for line in lines %}
	<li>	
		
<div class="row">
	<!--
	<div class="col-sm-3">
		{{line.name}}
	</div>
	<div class="col-sm-3">
		{{line.order}}
	</div>
	-->

	<div class="col-sm-3">
		{{line.item}}
	</div>

	<div class="col-sm-3">
		{{line.qty}}
	</div>
</div>
<br>

	</li>
{% endfor %}
</ul>


{% endblock %}