{% extends 'menus/base.html' %}

{% block content %}


<!-- Go -->
{% include 'partials/_gostyle.html' %}


<!-- Employees -->

<!-- Title -->
<div class="row">

	<div class="col-sm-4">
		<h2>{{title}}</h2>
	</div>
	
	<div class="col-sm-5">
		<a href="{% url 'add_order' %}">Crear</a>
	</div>

	<div class="col-sm-3">

		<a href="{% url 'lines' %}">
		<h3>Líneas</h3>            
        </a>

	</div>
</div>
<br>


<!-- Conditional -->
{% if objs %}

<div class="container">



<!-- Header -->
<ul class="list-group">

	<li class="list-group-item">

<div class="row jx-header">

	<div class="col-sm-2">
		Fecha
	</div>

	<div class="col-sm-1">
		Mesa
	</div>


	<div class="col-sm-3">
		Resumen
	</div>


	<div class="col-sm-1">
		Líneas
	</div>

	<div class="col-sm-1">
		Mozo
	</div>


	<div class="col-sm-1">
		Estado
	</div>

	<div class="col-sm-1"></div>

	<div class="col-sm-1"></div>

</div>

	</li>


<!-- Loop -->
{% for obj in objs %}

	<li class="list-group-item">

		
		<!-- Row -->
		<div class="row">


			<div class="col-sm-2">
				<a href='{% url "order" obj.id %}'>
					<h6>{{obj.name}}</h6>
				</a>
			</div>


			<div class="col-sm-1">
					<h6> {{obj.table}}</h6>
			</div>



			<div class="col-sm-3">
				
				<a href='{% url "order_lines" obj.id %}'>
				
					{{obj.get_lines}}

				</a>
			</div>


			<div class="col-sm-1">

				<a href='{% url "order_add_line" obj.id %}'>
					Agregar
				</a>
			</div>


			<div class="col-sm-1">
				{{obj.waiter}}
			</div>

			<div class="col-sm-1">
				{{obj.state}}
			</div>

			<div class="col-sm-1">
				<a href="{% url 'update_order' obj.id %}">
					Modificar
				</a>
			</div>

			<div class="col-sm-2">
				<a href="{% url 'delete_order' obj.id %}">
					Eliminar
				</a>
			</div>


		</div>
	</li>

{% endfor %}
</ul>


<!-- Error -->
{% else %}
	<p>
		{{err_msg}}		
	</p>

{% endif %}

</div>

{% endblock %}

