	<!--
	<div class="col-sm-3">
		{{line.name}}
	</div>

	<div class="col-sm-3">
		{{line.order}}
	</div>
	-->



<!--
	{% include 'orders/_obj_h_field.html' with name='Fecha' value=obj.date %}
-->


<!--
	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-3">
				<b>
				Fecha
				</b>
			</div>
			<div class="col-sm-4">
				{{obj.date}}
			</div>
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-3">
				<b>
                    Mesa
				</b>
			</div>
			<div class="col-sm-4">
				{{obj.table}}
			</div>
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-3">
				<b>
                    Mozo
				</b>
			</div>
			<div class="col-sm-4">
				{{obj.waiter}}
			</div>
		</div>
	</li>
-->



	<!-- Table -->
	<!-- Date -->
	<!-- Waiter -->
	<!-- Cook -->
<!--
	<h6>{{obj.date}}</h6>
	<br>
	<h6>{{obj.table}}</h6>
	<br>
	<h6>{{obj.waiter}}</h6>
	<br>
	<h6>{{obj.cook}}</h6>
	<br>
-->




	<!-- Items -->
<!--	
	<h4>{{obj.items.all}}</h4>
-->
	<h4>{{obj.get_items}}</h4>

	<h4>{{item_arr}}</h4>
	<br>

	<div class="container">
		{% for item in item_arr %}
			<h4>{{item}}</h4>
			<br>
		{% endfor %}
	</div>
