{% extends "menus/base.html" %}

{% block content %}



<!-- Go Home -->
{% include 'partials/_gowaiter.html' %}




<!-- Name -->
<h3>
	Pedido Abierto
</h3>
<br>

<h4>
	{{obj.date}}
</h4>
<br>


<div class="container">
	<ul class="list-group">
		{% include 'orders/_obj_h_field.html' with name='Mozo' value=obj.waiter %}
		{% include 'orders/_obj_h_field.html' with name='Cocinero' value=obj.cook %}
		{% include 'orders/_obj_h_field.html' with name='Mesa' value=obj.table %}
	</ul>
<br>
</div>


<div class="row">
	<div class="col-sm-2">
		<a href="{% url 'order_add_line' obj.id %}">
			<input type=button value="Agregar Línea" onClick="" class="btn btn-warning">
		</a>
	</div>
</div>
<br>



{% include 'partials/_gostyle.html' %}

<ul class="list-group">
{% for line in lines %}
	<li class="list-group-item">

		
<div class="row">

	<div class="col-sm-3">
		{{line.item}}
	</div>

	<div class="col-sm-2">
		{{line.qty}}
	</div>

	<div class="col-sm-2">
		{{line.total}}
	</div>

	<div class="col-sm-2">
		{{line.state}}
	</div>

	<div class="col-sm-1">
		<a href="{% url 'update_line_state_plus' line.id %}">			
			<input type=button value=">>" onClick=""  class="btn btn-success">
		</a>
	</div>

	<div class="col-sm-1">
		<a href="{% url 'update_line_state_minus' line.id %}">
			<input type=button value="<<" onClick=""	class="btn btn-danger">
		</a>
	</div>
</div>

	</li>
{% endfor %}
</ul>

</div>
<br>
<br>


{% endblock %}