{% extends "menus/base.html" %}

{% block content %}

{% include 'partials/_gostyle.html' %}


<a href="{% url 'order' obj.id %}">
	<input type=button value="Refrescar" onClick="" class="btn btn-success">
</a>


<!-- Go -->
{% include 'partials/_goback.html' %}



<!-- Name -->
<h3>{{title}}</h3>
<br>


<div class="row">
	<div class="col-sm-2">
		<h5>Líneas</h5>
	</div>

	<div class="col-sm-2">
		<!--
		<a href="{% url 'order_add_line' obj.id %}">
			<input type=button value="Agregar" onClick="" class="btn btn-warning">
		</a>
		-->
	</div>
</div>
<br>


<ul class="list-group">
{% for line in lines %}
	<li class="list-group-item">

		
<div class="row">

	<div class="col-sm-3">
		{{line.item}}
	</div>

	<div class="col-sm-2">
		{{line.qty}}
	</div>

	<div class="col-sm-2">
		{{line.total}}
	</div>


	<div class="col-sm-2">
		{{line.state}}
	</div>


	<div class="col-sm-1">

		<a href="{% url 'update_line_state_plus' line.id %}">			
			<input type=button value=">>" onClick=""  class="btn btn-success">
		</a>

	</div>

	<div class="col-sm-1">
		<a href="{% url 'update_line_state_minus' line.id %}">
			<input type=button value="<<" onClick=""	class="btn btn-danger">
		</a>
	</div>
</div>

	</li>
{% endfor %}
</ul>

</div>
<br>
<br>


{% endblock %}