{% extends "menus/base.html" %}

{% block content %}

<!-- Go -->
<!--
{% include 'partials/_goorders.html' %}
-->

{% include 'partials/_goback.html' %}



<!-- Name -->
<h2>{{title}}</h2>
<br>


<div class="container">

	<ul class="list-group">

		{% include 'orders/_obj_h_field.html' with name='Estado' value=obj.state %}

		{% include 'orders/_obj_h_field.html' with name='Mesa' value=obj.table %}

		{% include 'orders/_obj_h_field.html' with name='Mozo' value=obj.waiter %}

		{% include 'orders/_obj_h_field.html' with name='Total' value=obj.total %}

	</ul>
<br>



<div class="row">
	<div class="col-sm-2">
		<h5>Líneas</h5>
	</div>

	<div class="col-sm-2">

		<a href="{% url 'order_add_line' obj.id %}">Agregar</a>

		{{obj.get_absolute_url}}

	</div>
</div>
<br>


<ul class="list-group">
{% for line in lines %}
	<li class="list-group-item">

		
<div class="row">

	<div class="col-sm-3">
		{{line.item}}
	</div>

	<div class="col-sm-2">
		{{line.qty}}
	</div>

	<div class="col-sm-3">
		{{line.total}}
	</div>

	<div class="col-sm-2">

		<a href="{% url 'update_line' line.id %}">
			
			<input type=button value="Modificar" onClick="">

		</a>
	</div>

	<div class="col-sm-2">
		<a href="{% url 'delete_line' line.id %}">

			<input type=button value="Eliminar" onClick="">

		</a>
	</div>
</div>

	</li>
{% endfor %}
</ul>
<div class="row">

	<div class="col-sm-3">


	</div>
</div>
</div>

{% endblock %}