<!--
<div class="row">
	<div class="col-sm-2">
		<h5>Líneas</h5>
	</div>

	<div class="col-sm-2">
		<a href="{% url 'order_add_line' obj.id %}">
			<input type=button value="Agregar" onClick="" class="btn btn-warning">
		</a>
	</div>
</div>
<br>
-->




<!--
<a href="{% url 'order' obj.id %}">
	<input type=button value="Refrescar" onClick="" class="btn btn-success">
</a>

{% include 'partials/_goback.html' %}
-->







<!--
<div class="container">
	<ul class="list-group">
		{% include 'orders/_obj_h_field.html' with name='Estado' value=obj.state %}
		{% include 'orders/_obj_h_field.html' with name='Mesa' value=obj.table %}
		{% include 'orders/_obj_h_field.html' with name='Mozo' value=obj.waiter %}
		{% include 'orders/_obj_h_field.html' with name='Cocinero' value=obj.cook %}
		{% include 'orders/_obj_h_field.html' with name='Total' value=obj.total %}
	</ul>
<br>
-->






{% if line.state == 'Inicio' %}

		<a href="{% url 'update_line_preparation' line.id %}">
			<input type=button value="En Preparación" onClick=""  class="btn btn-success">
		</a>

{% else %}

	{% if line.state == 'preparation' %}
		<a href="{% url 'update_line_ready' line.id %}">
			<input type=button value="Listo para servir" onClick=""  class="btn btn-success">
		</a>
	{% else %}

		{% if line.state == 'ready' %}
			<a href="{% url 'update_line_served' line.id %}">
				<input type=button value="Servido" onClick=""  class="btn btn-success">
			</a>
		{% else %}

		{% endif %}

	{% endif %}

{% endif %}
