{% extends 'menus/base.html' %}

{% block content %}



<div class="row">
	<div class="col-sm-4">
		<h2>Platos</h2>
	</div>
	
	<div class="col-sm-4">
<a href="{% url 'add' %}">Crear Plato</a>
	</div>

	<div class="col-sm-4">
	</div>
</div>


<br>


{% if items_dic %}

<div class="container_">


{% for key in items_dic %}

<h5>{{key}}</h5>



<ul class="list-group">
		{% for kkey in items_dic|get_item:key %}


	<li class="list-group-item">
	
		<div class="row">
			<div class="col-sm-4">
				<a href='{% url "item" kkey.id %}'>
					<h5>{{kkey.name}}</h5>
				</a>
			</div>

			<div class="col-sm-4">
				<a href="{% url 'update' kkey.id %}">Modificar</a>
			</div>

			<div class="col-sm-4">
					<a href="{% url 'delete' kkey.id %}">Eliminar</a>
			</div>
		</div>


		</li>


		{% endfor %}
		<br>
		</ul>

<br>

{% endfor %}

{% else %}
	<p>
		You haven't uploaded any Item yet.
	</p>

{% endif %}
</div>

{% endblock %}