{% extends 'menus/base.html' %}

{% block content %}



<div class="row">
	<div class="col-sm-4">
		<h2>Platos</h2>
	</div>
	
	<div class="col-sm-4">
<a href="{% url 'add_item' %}">Crear</a>
	</div>

	<div class="col-sm-4">
	</div>
</div>


<br>


{% if items_dic %}

<div class="container_">


{% for key in items_dic %}

<h5>{{key}}</h5>



<ul class="list-group">
		{% for kkey in items_dic|get_item:key %}


	<li class="list-group-item">
	
		<div class="row">
			<div class="col-sm-3">
				<a href='{% url "item" kkey.id %}'>
					<h5>{{kkey.name}}</h5>
				</a>
			</div>


			<div class="col-sm-2">
<!--
				<img src={{ kkey.image }} >
				<img src={{ kkey.image }} class="img-rounded" alt="Cinque Terre">
-->
				<img src={{ kkey.image }} class="img-thumbnail" alt="Plato"  style="max-height: 100px; max-width: 60px;">


			</div>


			<div class="col-sm-5">
				{{ kkey.description }}
			</div>


			<div class="col-sm-1">
				<a href="{% url 'update_item' kkey.id %}">Modificar</a>
			</div>

			<div class="col-sm-1">
					<a href="{% url 'delete_item' kkey.id %}">Eliminar</a>
			</div>
		</div>


		</li>


		{% endfor %}
		<br>
		</ul>

<br>

{% endfor %}

{% else %}
	<p>
		You haven't uploaded any Item yet.
	</p>

{% endif %}
</div>

{% endblock %}