
{% extends "menus/base.html" %}

{% load static %}

{% block content %}

<!-- Go Items -->
{% include 'partials/_goitems.html' %}


<h1>{{item.name}}</h1>
<br>
<!--
<div class="container">
	<img src="{% static item.image %}" class="logo" alt=""/>
</div>
-->


<h4>Descripción</h4>

<div class="container">
<div class="row">
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">

		{{ item.description }}

	</div>

	<div class="col-sm-1">
	</div>
</div>
</div>
<br>




<h4>Notas Cocinero</h4>

<div class="container">
<div class="row">
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">

		{{ item.notes_cook }}

	</div>

	<div class="col-sm-1">
	</div>
</div>
</div>
<br>


<h4>Notas Mozo</h4>
<div class="row">
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">

		{{ item.notes_waiter }}

	</div>

	<div class="col-sm-1">
	</div>
</div>
<br>



<div class="row">
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">
		<img src={{ item.image }} >
	</div>

	<div class="col-sm-1">
	</div>
</div>
<br>


{% endblock %}